html
	head
		script(src="https://code.jquery.com/jquery-3.2.1.min.js")
		script(src="js/index.js")
		link(rel="stylesheet", href="css/index.css")
	body
		div(class="main-hero")
			div(class="main-hero--filter")
				div(class="main-hero--video")
					video(autoplay muted loop)
						source(src="media/train-hero.mp4" type="video/mp4")
		nav
			a()
			div(class="logo")
				h1 LOGO_HERE
			a(href=".") 
				div
					p Hi
			a()
				div
					p TEST
		div(class="test1")
		div(class="test2")