html
	head
		script(src="https://code.jquery.com/jquery-3.2.1.min.js")
		script(src="js/index.js")
		link(rel="stylesheet", href="css/index.css")
	body
		div(class="main-hero")
			div(class="main-hero--filter")
				div(class="main-hero--video")
					video(autoplay muted loop)
						source(src="media/train-hero.mp4" type="video/mp4")
		nav
			a()
			div(class="logo")
				h1 LOGO_HERE
			a(href=".") 
				div
					p Hi
			a()
				div
					p TEST
		div(class="about-me")
			h1 Collin likes making things look better,
			p cleaner, and prettier for easy & on-the-go reading. Whether it's for web, mobile, or internal use, Collin finds importance in minimalist design.
			
			div
		div(class="test2")